<!DOCTYPE html>
<html lang="en">
<!-- aetirli@gmail.com -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/vuetify.min.css" />
    <!-- icons8.com -->
    <link rel="icon" type="image/x-icon" href="/lib/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Marmara Ins. Mlz.</title>
    <style>

        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/lib/mdi.woff2) format('woff2');
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }

        * {
            font-size: 14px !important;
            zoom: 1;
        }
    </style>
    <style type="text/css" media="print">
        @page {
            size: landscape;
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            padding-top: 10mm;
            padding-bottom: 10mm;
        }
    </style>
</head>

<body>
    <div id="app">
        <div ref="load" style="height: 100vh; background-color: #eee;">
            <v-container class="fill-height">
                <v-row class="align-center">
                    <v-col class="text-center">
                        <v-progress-circular :size="64" :width="10" color="primary" indeterminate></v-progress-circular>
                        <br /><br />
                    </v-col>
                </v-row>
            </v-container>
        </div>
        <div ref="vapp" style="display: none">
            <div v-if="auth.username == null" style="position: absolute; height: 100%; width: 100%;">
                <v-container fluid class="fill-height">
                    <v-row class="fill-height align-center">
                        <v-col cols="1" md="4"></v-col>
                        <v-col cols="10" md="4" class="text-center bg-grey-lighten-4">
                            <v-img src="/lib/favicon.png" height="32"></v-img>
                            Marmara İnşaat Malzemeleri
                            <v-divider class="my-2"></v-divider>
                            <v-text-field v-model="user.username" :disabled="isPending" :label="i18n.txt_lgn_usr" :error="snackbar"></v-text-field>
                            <v-text-field v-model="user.password" :disabled="isPending" type="password" :label="i18n.txt_lgn_pwd" :error="snackbar"></v-text-field>
                            <v-btn :disabled="isPending" :loading="isPending" block color="blue-grey-lighten-2" @click="login">{{ i18n.btn_lgn_sbt }}</v-btn>
                            <v-switch v-model="remember" :disabled="isPending" :label="i18n.txt_lgn_rme" value="yes"></v-switch>
                        </v-col>
                        <v-col cols="1" md="4"></v-col>
                    </v-row>
                </v-container>
            </div>
            <div v-else>
                <v-row class="pa-1 pb-0 align-center no-print">
                    <v-col cols="12" md="3" order="4" order-md="1">
                        <v-combobox v-if="currentView.toLowerCase() != 'hesaplar'" v-model="selected" :disabled="isPending" :loading="isPending" density="compact" variant="solo-filled" :bg-color="!selected ? 'orange' : 'blue-grey'" :label="i18n.txt_cmb_tit" :items="customerList" item-title="name" item-value="id" return-object hide-details></v-combobox>
                    </v-col>
                    <v-col cols="9" md="4" order="2" order-md="2">
                        <v-btn class="mr-1" height="44" color="orange-lighten-4" @click="logout">
                            <span class="material-icons">logout</span>
                        </v-btn>
                        <v-btn class="mr-1" height="44" @click="toggleFullScreen">
                            <span class="material-icons">fullscreen</span>
                        </v-btn>
                        <v-btn v-if="selected" :disabled="isPending" height="44" @click="btn_clc_prt"><span class="material-icons pr-1">print</span>{{ i18n.btn_txt_prt }}</v-btn>
                    </v-col>
                    <v-col cols="3" md="2" order="3" order-md="3">
                        <a v-if="currentView.toLowerCase() == 'hesaplar'" href="#/">&laquo; {{ i18n.anc_lbl_hom }}</a>
                        <a v-else href="#/hesaplar">{{ i18n.anc_lbl_abo }} &raquo;</a>
                    </v-col>
                    <v-col cols="12" md="3" order="1" order-md="4" class="text-right">
                        <v-chip label color="blue" class="text-center mr-1 px-1"><span class="chip-info">€ {{ server.currency.eur }}</span></v-chip>
                        <v-chip label color="green" class="text-center mr-1 px-1"><span class="chip-info">$
                                {{ server.currency.usd }}</span></v-chip>
                        <v-tooltip :text="`${server.calendar.date}`" location="top">
                            <template v-slot:activator="{ props }">
                                <v-chip label color="grey" class="text-center px-1" v-bind="props">
                                    <span class="chip-info">
                                        {{ server.calendar.time }}
                                    </span>
                                </v-chip>
                            </template>
                        </v-tooltip>
                    </v-col>
                </v-row>
                <v-divider class="my-1"></v-divider>
                <div v-if="currentView.toLowerCase() != 'hesaplar'">
                    <v-row>
                        <v-col>
                            <div v-if="selected">
                                <v-data-table :no-data-text="i18n.txt_non_tra" :loading="isPending" :headers="headers" :items="transactions.details" :page="1" :items-per-page="-1" :sort-by="[{ key: 'calories', order: 'asc' }]" class="elevation-1" :hover="true">
                                    <template v-slot:top>
                                        <v-toolbar flat>
                                            <v-toolbar-title>{{ selected.name }}<br /><span class="text-body-2">{{
                                                    selected.phone }} {{ selected.address }}</v-toolbar-title>
                                            <v-dialog v-model="dialogDelete" max-width="600px">
                                                <v-card>
                                                    <v-card-title class="text-h5">
                                                        {{ i18n.txt_con_del }}<br /><span class="text-grey">{{ i18n.txt_del_inf
                                                            }}</span>
                                                    </v-card-title>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn :disabled="isPending" variant="outlined" color="blue" variant="text" @click="closeDelete">{{
                                                            i18n.btn_txt_cnc }}</v-btn>
                                                        <v-btn :loading="isPending" :disabled="isPending" variant="outlined" color="red" variant="text" @click="deleteItemConfirm">{{
                                                            i18n.btn_txt_del }}</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-toolbar>
                                    </template>
                                    <template v-slot:column.unitcost="{ column }">
                                        <div class="text-right">
                                            {{ column.title }}
                                        </div>
                                    </template>
                                    <template v-slot:column.amount="{ column }">
                                        <div class="text-right">
                                            {{ column.title }}
                                        </div>
                                    </template>
                                    <template v-slot:column.sell="{ column }">
                                        <div class="text-right">
                                            {{ column.title }}
                                        </div>
                                    </template>
                                    <template v-slot:column.pay="{ column }">
                                        <div class="text-right">
                                            {{ column.title }}
                                        </div>
                                    </template>
                                    <template v-slot:column.cumsell="{ column }">
                                        <div class="text-right">
                                            <b>{{ column.title }}</b>
                                        </div>
                                    </template>
                                    <template v-slot:column.cumpay="{ column }">
                                        <div class="text-right">
                                            <b>{{ column.title }}</b>
                                        </div>
                                    </template>
                                    <template v-slot:item.rank="{ item }">
                                        <div class="text-right">
                                            <b>{{ item.raw.rank }}</b>
                                        </div>
                                    </template>
                                    <template v-slot:item.date="{ item }">
                                        <div>
                                            {{ new Date(item.raw.date).toLocaleDateString() }}
                                        </div>
                                    </template>
                                    <template v-slot:item.unitcost="{ item }">
                                        <div class="text-right">
                                            {{ item.raw.amount > 0 ? formatCurr(item.raw.unitcost) : "" }}
                                        </div>
                                    </template>
                                    <template v-slot:item.amount="{ item }">
                                        <div class="text-right">
                                            {{ item.raw.amount > 0 ? formatCurr(item.raw.amount).slice(0, -1) : "" }}
                                        </div>
                                    </template>
                                    <template v-slot:item.sell="{ item }">
                                        <div class="text-right col-strip">
                                            {{ item.raw.amount > 0 ? formatCurr(item.raw.unitcost * item.raw.amount) : "" }}
                                        </div>
                                    </template>
                                    <template v-slot:item.pay="{ item }">
                                        <div class="text-right">
                                            {{ item.raw.amount > 0 ? "" : formatCurr(item.raw.unitcost) }}
                                        </div>
                                    </template>
                                    <template v-slot:item.cumsell="{ item }">
                                        <div class="text-right col-strip">
                                            {{ item.raw.cumsell == "" ? "" : formatCurr(item.raw.cumsell) }}
                                        </div>
                                    </template>
                                    <template v-slot:item.cumpay="{ item }">
                                        <div class="text-right">
                                            {{ item.raw.cumpay == "" ? "" : formatCurr(item.raw.cumpay) }}
                                        </div>
                                    </template>
                                    <template v-slot:item.actions="{ item }">
                                        <v-tooltip :text="i18n.lbl_tip_edt" location="top">
                                            <template v-slot:activator="{ props }">
                                                <v-chip :disabled="isPending || rankStart != 1 || rankEnd != dbTransactions.details.length" @click="editItem(item.raw)" v-bind="props" class="ma-0 mr-1 pa-2">
                                                    <span class="material-icons text-blue" style="font-size: 1.25em;">edit</span>
                                                </v-chip>
                                            </template>
                                        </v-tooltip>
                                        <v-tooltip :text="i18n.lbl_tip_del" location="top">
                                            <template v-slot:activator="{ props }">
                                                <v-chip :disabled="isPending || rankStart != 1 || rankEnd != dbTransactions.details.length" @click="deleteItem(item.raw)" v-bind="props" class="ma-0 pa-2">
                                                    <span class="material-icons text-red" style="font-size: 1.25em;">delete</span>
                                                </v-chip>
                                            </template>
                                        </v-tooltip>
                                    </template>
                                    <template v-slot:bottom>
                                        <v-divider class="mb-3"></v-divider>
                                        <v-row class="align-center no-print">
                                            <v-col cols="6" md="2" order="2" order-md="1">
                                                <v-text-field v-show="transactions.details.length > 0" v-model="rankStart" type="number" density="compact" class="ml-1" :label="`${i18n.lbl_chk_str} (1)`" variant="solo-filled" :bg-color="rankStart != 1 ? 'blue-lighten-1' : 'white'" min="1" :max="dbTransactions.details.length" hide-details>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="6" md="2" order="3" order-md="2">
                                                <v-text-field v-show="transactions.details.length > 0" v-model="rankEnd" type="number" density="compact" class="mr-1" :label="`${i18n.lbl_chk_end} (${dbTransactions.details.length})`" variant="solo-filled" :bg-color="rankEnd != dbTransactions.details.length ? 'blue-lighten-1' : 'white'" min="1" :max="dbTransactions.details.length" hide-details>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="2" order="4" order-md="3">
                                                <table v-show="transactions.details.length > 0" ref="sums">
                                                    <tr>
                                                        <td width="50" class="text-right">{{ i18ns.tbl_hdr_sel }}</td>
                                                        <td width="80" class="text-right">{{ formatCurr(transactions.totalSell) }}</td>
                                                        <td rowspan="2">
                                                            <span class="pl-3 text-h5" :class="transactions.ld < 0 ? 'text-green' : 'text-red'">
                                                                {{ formatCurr(transactions.net) }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">{{ i18ns.tbl_hdr_pay }}</td>
                                                        <td class="text-right">{{ formatCurr(transactions.totalPay) }}</td>
                                                    </tr>
                                                </table>
                                            </v-col>
                                            <v-col cols="12" md="6" order="1" order-md="4" class="text-right">
                                                <v-dialog v-model="dialog" max-width="1000px">
                                                    <template v-slot:activator="{ props }">
                                                        <v-btn v-show="isScrolled" class="mx-1 no-print" style="position: fixed; bottom: 18px; right: 94px;" variant="outlined" elevation="4" @click="backToTop" hide-details transition="fade-transition">
                                                            <span class="material-icons">arrow_upward</span>
                                                        </v-btn>
                                                        <v-btn :disabled="isPending || rankStart != 1 || rankEnd != dbTransactions.details.length" class="mx-1 no-print" color="green" v-bind="props" hide-details>
                                                            <span class="material-icons">add</span>
                                                            {{ i18n.btn_txt_new }}
                                                        </v-btn>
                                                    </template>
                                                    <v-card>
                                                        <v-card-title>
                                                            <span class="text-h5">{{ formTitle }}</span>
                                                        </v-card-title>

                                                        <v-card-text>
                                                            <v-container>
                                                                <v-row class="align-center">
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <v-text-field :disabled="isPending" v-model="editedItem.date" type="date" :label="i18ns.tbl_hdr_dat"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <v-text-field :disabled="isPending" v-model="editedItem.item" :label="i18ns.tbl_hdr_itm" :rules="[ v => !!v || i18n.txt_tip_req ]"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <v-text-field :disabled="isPending" v-model="editedItem.amount" :label="i18ns.tbl_hdr_amn" :hint="i18n.txt_tip_amn"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <v-text-field :disabled="isPending || editedItem.amount <= 0" v-model="editedItem.unit" :label="i18ns.tbl_hdr_unt"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <v-text-field :disabled="isPending" v-model="editedItem.unitcost" :label="i18ns.tbl_hdr_ucs" :rules="[ (v) => !!v || i18n.txt_tip_req, (v) => parseFloat(v) > 0 || '0.00' ]" :hint="i18n.txt_tip_sep"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6" md="4">
                                                                        <span v-show="parseFloat(editedItem.unitcost) > 0">{{ getInfo }}</span>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-container>
                                                        </v-card-text>

                                                        <v-card-actions>
                                                            <v-spacer></v-spacer>
                                                            <v-btn :disabled="isPending" variant="outlined" color="blue" @click="close">
                                                                {{ i18n.btn_txt_cnc }}
                                                            </v-btn>
                                                            <v-btn :loading="isPending" :disabled="isPending || editedItem.item == null || editedItem.item == '' || editedItem.unitcost == null || editedItem.unitcost == '' || parseFloat(editedItem.unitcost) == 0" variant="outlined" color="green" variant="text" @click="save">
                                                                {{ i18n.btn_txt_sav }}
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-card>
                                                </v-dialog>
                                            </v-col>
                                        </v-row>
                                    </template>
                                </v-data-table>
                            </div>
                            <v-container v-else class="fill-height">
                                <v-row class="align-center">
                                    <v-col class="text-center text-grey"><span class="blink text-h5">{{ i18n.txt_req_cus }}</span></v-col>
                                </v-row>
                            </v-container>
                        </v-col>
                    </v-row>
                </div>
                <div v-else>
                    <v-row class="align-center">
                        <v-col class="text-center text-grey">
                            <v-container fluid class="ma-0 pa-0">
                                <v-row v-for="item in customerListEdit" class="ma-0 pa-0 pt-2 hover strip">
                                    <v-col cols="3" md="1" class="ma-0 pa-0 px-2 pb-2">
                                        <v-btn :disabled="isPending" block @click="customerListEdit[customerListEdit.findIndex((obj => obj.id == item.id))].active = item.active == true ? false : true" :variant="item.active ? 'outlined' : 'tonal'" color="red"><span class="material-icons">{{ item.active ? 'delete' : 'delete_outline' }}</span></v-btn>
                                    </v-col>
                                    <v-col cols="9" md="5" class="ma-0 pa-0 px-2 pb-2">
                                        <v-text-field v-model="item.name" :disabled="!item.active || isPending" density="compact" :label="i18n.lbl_cus_nam" variant="solo" hide-details></v-text-field>
                                    </v-col>
                                    <v-col cols="6" md="3" class="ma-0 pa-0 px-2 pb-2">
                                        <v-text-field v-model="item.phone" :disabled="!item.active || isPending" density="compact" :label="i18n.lbl_cus_phn" variant="solo" hide-details></v-text-field>
                                    </v-col>
                                    <v-col cols="6" md="3" class="ma-0 pa-0 px-2 pb-2">
                                        <v-text-field v-model="item.address" :disabled="!item.active || isPending" density="compact" :label="i18n.lbl_cus_adr" variant="solo" hide-details></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row class="ma-0 pa-0 pt-2">
                                    <v-col cols="3" md="1" class="ma-0 pa-0 px-2 pb-2">
                                        <v-btn :disabled="isPending" block @click="customerListEdit.push({id: Date.now(), name: '', phone: '', address: '', active: 1})" variant="outlined" color="blue"><span class="material-icons">add</span></v-btn>
                                    </v-col>
                                    <v-col cols="1" md="1" class="ma-0 pa-0 px-2 pb-2"></v-col>
                                    <v-col cols="8" md="10" class="ma-0 pa-0 px-2 pb-2 text-right">
                                        <v-btn :disabled="!isChanged || isPending" :loading="isPending" @click="refresh" variant="tonal" color="orange">{{ i18n.btn_txt_cnc }}</v-btn>
                                        <v-btn :disabled="!isChanged || isPending" :loading="isPending" @click="saveCustomers" class="ml-2" variant="outlined" color="green"><span class="material-icons pr-1">save</span>{{ i18n.btn_txt_sav }}</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <v-divider></v-divider>
                        </v-col>
                    </v-row>
                </div>
            </div>
            <v-snackbar v-model="snackbar" :timeout="4000" :color="isSuccess ? 'green' : 'red'" location="top" transition="fade-transition">
                {{ isSuccess ? i18n.txt_req_suc : i18n.txt_req_err }}
                <template v-slot:actions>
                    <v-btn color="white" variant="text" @click="snackbar = false">
                        <span class="material-icons">close</span>
                    </v-btn>
                </template>
            </v-snackbar>
        </div>
    </div>
    <script src="/lib/vue.global.js"></script>
    <script src="/lib/vuetify.min.js"></script>
    <script src="/lib/vuetify-labs.min.js"></script>
    <script src="/lib/db.js"></script>
    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify()

        const app = createApp({
            setup() {
                const db = new dbr("tr-TR");
                const remember = Vue.ref([]);
                const auth = Vue.ref({ username: null, password: null });
                const user = Vue.ref({ username: "", password: "" });
                const server = Vue.ref({ calendar: { date: "!", time: "!" }, currency: { usd: "?", eur: "?" } });
                const currentPath = Vue.ref(window.location.hash);
                const isPending = Vue.ref(false);
                const isScrolled = Vue.ref(false);
                const isChanged = Vue.ref(false);
                const snackbar = Vue.ref(false);
                const isSuccess = Vue.ref(false);
                const vapp = Vue.ref(null);
                const load = Vue.ref(null);
                const sums = Vue.ref(null);
                const i18ns = Vue.ref(db.HeadersPack());
                const i18n = Vue.ref({});
                const customers = Vue.ref([])
                const customerList = Vue.ref([]);
                const customerListEdit = Vue.ref([]);
                const selected = Vue.ref(null);
                const dialog = Vue.ref(false);
                const dialogDelete = Vue.ref(false);
                const headers = Vue.ref([
                    { title: '#', align: 'center', key: 'rank', width: '30px', sortable: false },
                    { title: i18ns.value.tbl_hdr_dat, key: 'date', width: '90px', sortable: false },
                    { title: i18ns.value.tbl_hdr_itm, key: 'item', sortable: false },
                    { title: i18ns.value.tbl_hdr_ucs, key: 'unitcost', width: '80px', sortable: false },
                    { title: i18ns.value.tbl_hdr_amn, key: 'amount', width: '50px', sortable: false },
                    { title: i18ns.value.tbl_hdr_unt, key: 'unit', width: '55px', sortable: false },
                    { title: i18ns.value.tbl_hdr_sel, key: 'sell', width: '115px', sortable: false },
                    { title: i18ns.value.tbl_hdr_pay, key: 'pay', width: '115px', sortable: false },
                    { title: i18ns.value.tbl_hdr_tse, key: 'cumsell', width: '135px', sortable: false },
                    { title: i18ns.value.tbl_hdr_tpa, key: 'cumpay', width: '135px', sortable: false },
                    { title: i18ns.value.tbl_hdr_act, key: 'actions', width: '100px', sortable: false },
                ]);
                const dbTransactions = Vue.ref({ details: [] });
                const transactions = Vue.ref({ details: [], totalSell: 0, totalPay: 0, net: 0, ld: null });
                const rankStart = Vue.ref(1);
                const rankEnd = Vue.ref(1);
                const editedIndex = Vue.ref(-1);
                const editedItem = Vue.ref({
                    date: (new Date()).toISOString().split('T')[0],
                    item: '',
                    amount: parseFloat(0),
                    unit: '',
                    unitcost: parseFloat(0),
                });
                const defaultItem = Vue.ref({
                    date: (new Date()).toISOString().split('T')[0],
                    item: '',
                    amount: parseFloat(0),
                    unit: '',
                    unitcost: parseFloat(0),
                });

                const btn_clc_prt = () => {
                    window.print();
                }

                const toggleFullScreen = () => {
                    if (!document.fullscreenElement && !document.mozFullScreenElement && !document.webkitFullscreenElement) {
                        if (document.documentElement.requestFullscreen) {
                            document.documentElement.requestFullscreen();
                        } else if (document.documentElement.mozRequestFullScreen) {
                            document.documentElement.mozRequestFullScreen();
                        } else if (document.documentElement.webkitRequestFullscreen) {
                            document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                        }
                    } else {
                        if (document.cancelFullScreen) {
                            document.cancelFullScreen();
                        } else if (document.mozCancelFullScreen) {
                            document.mozCancelFullScreen();
                        } else if (document.webkitCancelFullScreen) {
                            document.webkitCancelFullScreen();
                        }
                    }
                }

                const backToTop = () => {
                    vapp.value.scrollIntoView({ behavior: 'smooth' });
                }

                const currentView = Vue.computed(() => {
                    return currentPath.value.split('/')[1] ?? 'home';
                });

                const formTitle = Vue.computed(() => {
                    return editedIndex.value === -1 ? i18n.value.txt_new_itm : i18n.value.txt_edt_itm
                });

                const getInfo = Vue.computed(() => {
                    let unc = formatCurr(parseFloat(editedItem.value.unitcost));
                    let amn = formatCurr(parseFloat(editedItem.value.amount)).slice(0, -1);
                    if (editedItem.value.amount == 0) {
                        return `${i18n.value.tbl_hdr_pay}: ${unc}`;
                    } else {
                        return `${i18n.value.tbl_hdr_sel}: ${formatCurr(parseFloat(editedItem.value.unitcost) * parseFloat(editedItem.value.amount))} (${amn} x ${unc})`;
                    }
                });

                timer_sd = null;
                Vue.onMounted(async () => {
                    user.value.username = localStorage.getItem("username") == null ? "" : window.atob(localStorage.getItem("username"));
                    user.value.password = localStorage.getItem("password") == null ? "" : window.atob(localStorage.getItem("password"));
                    if (localStorage.getItem("remember")) {
                        remember.value = ['yes'];
                    } else {
                        remember.value = [];
                    }
                    window.addEventListener('scroll', onScroll);
                    i18n.value = await db.LanguagePack();
                    await Promise.all([getServerData(), generateLists()]);
                    vapp.value.style.display = 'block';
                    load.value.style.display = 'none';
                    timer_sd = setInterval(getServerData, 1 * 60 * 1000);
                });

                Vue.onUnmounted(() => {
                    clearInterval(timer_sd);
                    timer_sd = null;
                });

                window.addEventListener('hashchange', () => {
                    currentPath.value = window.location.hash;
                });

                Vue.watch(dialog, (val) => {
                    val || close();
                });

                Vue.watch(dialogDelete, (val) => {
                    val || closeDelete();
                });

                Vue.watch(selected, async (val) => {
                    if (customerList.value.includes(val)) {
                        await getTransactions();
                    }
                })

                Vue.watch(rankStart, () => {
                    filterTransactions();
                });

                Vue.watch(rankEnd, () => {
                    filterTransactions();
                });

                Vue.watch(currentView, async (val) => {
                    selected.value = null;
                });

                Vue.watch(customerListEdit, (newValue, oldValue) => {
                    if (JSON.stringify(customers.value) != JSON.stringify(newValue)) {
                        isChanged.value = true;
                    }
                }, { deep: true });

                const getServerData = async () => {
                    server.value = await db.Server();
                }

                const generateLists = async () => {
                    customers.value = await db.Customers();
                    customerList.value = JSON.parse(JSON.stringify(customers.value.filter(v => v.active)));
                    customerListEdit.value = JSON.parse(JSON.stringify(customers.value));
                }

                const getTransactions = async () => {
                    isPending.value = true;
                    dbTransactions.value = await db.Transactions(selected.value.id);
                    rankStart.value = 1;
                    rankEnd.value = dbTransactions.value.details.length;
                    Object.assign(transactions.value, dbTransactions.value);
                    isPending.value = false;
                    Vue.nextTick(() =>
                        sums.value.scrollIntoView({ behavior: 'smooth' })
                    );
                }

                const formatCurr = (cost) => {
                    if (cost == null || cost == "") {
                        return "";
                    }
                    return `${cost.toLocaleString(this.lang, {
                        style: 'currency',
                        currency: 'USD',
                    }).replace('$', '')}`;
                }

                const filterTransactions = () => {
                    transactions.value.details = dbTransactions.value.details.slice(parseInt(rankStart.value) - 1, parseInt(rankEnd.value));
                }

                const editItem = (item) => {
                    editedIndex.value = transactions.value.details.indexOf(item);
                    editedItem.value = Object.assign({}, item);
                    dialog.value = true;
                }

                const deleteItem = (item) => {
                    i18n.value.txt_del_inf = `${item.rank}. ${item.date} - ${item.item}`;
                    editedIndex.value = transactions.value.details.indexOf(item);
                    editedItem.value = Object.assign({}, item);
                    dialogDelete.value = true;
                }

                const deleteItemConfirm = async () => {
                    if (isPending.value) {
                        return;
                    }
                    isPending.value = true;
                    transactions.value.details.splice(editedIndex.value, 1);
                    await db.SaveTransactions(selected.value.id, Vue.toRaw(transactions.value.details), 'D');
                    await getTransactions();
                    closeDelete();
                }

                const save = async () => {
                    if (isPending.value) {
                        return;
                    }
                    isPending.value = true;
                    editedItem.value.item = editedItem.value.item.trim();
                    editedItem.value.amount = parseFloat(editedItem.value.amount);
                    editedItem.value.unitcost = parseFloat(editedItem.value.unitcost);
                    if (editedIndex.value > -1) {
                        Object.assign(transactions.value.details[editedIndex.value], editedItem.value);
                    } else {
                        transactions.value.details.push(editedItem.value);
                    }
                    let success = true;
                    try {
                        await db.SaveTransactions(selected.value.id, Vue.toRaw(transactions.value.details), editedIndex.value > -1 ? 'U' : 'C');

                    } catch {
                        success = false;
                    } finally {
                        snackbar.value = true;
                        isSuccess.value = success;
                    }
                    await getTransactions();
                    close();
                }

                const close = () => {
                    dialog.value = false;
                    Vue.nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem.value);
                        editedIndex.value = -1;
                    });
                }

                const closeDelete = () => {
                    dialogDelete.value = false;
                    Vue.nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem);
                        editedIndex.value = -1;
                    });
                }

                const onScroll = () => {
                    isScrolled.value = false;
                    if (window.scrollY > 20) {
                        isScrolled.value = true;
                    }
                }

                const refresh = () => {
                    location.reload();
                }

                const saveCustomers = async () => {
                    let success = true;
                    try {
                        isPending.value = true;
                        let t = await db.SaveCustomers(Vue.toRaw(customerListEdit.value));
                        await generateLists();
                        isPending.value = false;
                    } catch {
                        success = false;
                    } finally {
                        snackbar.value = true;
                        isSuccess.value = success;
                    }
                }

                const login = async () => {
                    if (remember.value.length) {
                        localStorage.setItem("username", window.btoa(user.value.username));
                        localStorage.setItem("password", window.btoa(user.value.password));
                        localStorage.setItem("remember", "yes");
                    } else {
                        localStorage.removeItem("username");
                        localStorage.removeItem("password");
                        localStorage.removeItem("remember");
                    }
                    auth.value = await db.Login(Vue.toRaw(user.value));
                    if (auth.value.username == null && auth.value.password == null) {
                        snackbar.value = true;
                    }
                }

                const logout = () => {
                    location.reload();
                }

                return {
                    remember,
                    auth,
                    isPending,
                    vapp,
                    load,
                    sums,
                    currentPath,
                    currentView,
                    i18n,
                    i18ns,
                    dialog,
                    dialogDelete,
                    headers,
                    dbTransactions,
                    transactions,
                    editedIndex,
                    editedItem,
                    defaultItem,
                    formTitle,
                    selected,
                    customers,
                    customerList,
                    customerListEdit,
                    server,
                    rankStart,
                    rankEnd,
                    isScrolled,
                    getInfo,
                    isChanged,
                    snackbar,
                    isSuccess,
                    user,
                    login,
                    logout,
                    btn_clc_prt,
                    toggleFullScreen,
                    generateLists,
                    getTransactions,
                    filterTransactions,
                    editItem,
                    deleteItem,
                    deleteItemConfirm,
                    close,
                    closeDelete,
                    save,
                    backToTop,
                    onScroll,
                    formatCurr,
                    refresh,
                    saveCustomers
                }
            }
        })
        app.use(vuetify).mount('#app')

    </script>
    <style>
        a {
            text-decoration: none;
            color: blue;
        }

        a:hover {
            color: orange;
        }

        .chip-info {
            width: 60px;
        }

        .blink {
            animation: blinker 1s linear infinite;
        }

        .hover:hover {
            background-color: #c5cae9 !important;
        }

        .strip {
            border-bottom: 1px solid silver;
        }

        .strip:nth-child(odd) {
            background-color: #eeeeee90;
        }

        div.col-strip {
            border-left: 1px solid rgb(200, 200, 200) !important;
        }

        .v-data-table__tr:nth-child(odd) {
            background-color: #efefef80 !important;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        @media print {

            .no-print,
            .v-data-table__td:last-child {
                display: none;
            }
        }
    </style>

</body>

</html>
